﻿.fr-text-uppercase {
  text-transform: uppercase;
}
.fr-text-spaced {
  letter-spacing: 1px;
}
.fr-text-bordered {
    border-top: solid 1px #222;
    border-bottom: solid 1px #222;
    padding: 10px 0;
}
.fr-text-gray {
    color: #AAA !important;
}
a{
  color: #00abff;
  text-decoration: underline;
}